page-event {
select {
   
    width: 100px;
}
ion-title{
        margin-top: 10px;
}
.search{
    float: right;
    position: sticky;
    bottom: 27%;
    font-size: xx-large;
    margin-right: 10px;
}
}
