<ion-header>
  <ion-navbar>
    <ion-title style="text-align:center;">Signup</ion-title>
  </ion-navbar>
</ion-header>
<ion-content  class="maingrid">

  <ion-grid>
  <form [formGroup]="registerForm" (submit)="doRegister(registerForm.email,registerForm.pass,registerForm.name)" novalidate>
    <ion-item>
      <ion-input #email formControlName="email" type="email" 
        placeholder="abc@gmail.com"  class="input-email"  name="registerForm.email" [(ngModel)]="registerForm.email"
        [class.invalid]="!registerForm.controls.email.valid && submitAttempt"></ion-input>
    </ion-item> 
    <ion-item class="error-message" *ngIf="!registerForm.controls.email.valid  &&  submitAttempt">
      <p>{{erroremail}}</p>
    </ion-item>
    <ion-item>
      <ion-input #password formControlName="password" type="password" class="input-pass" [class.invalid]="!registerForm.controls.password.valid && submitAttempt"  name="registerForm.pass" [(ngModel)]="registerForm.pass"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!registerForm.controls.password.valid  && submitAttempt">
      <p>{{errorpass}}</p>
    </ion-item>
    <ion-item>
      <ion-input #fullname formControlName="fullname" type="text" placeholder="Enter your name" class="input-name" [class.invalid]="!registerForm.controls.fullname.valid && submitAttempt"  name="registerForm.name" [(ngModel)]="registerForm.name"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!registerForm.controls.fullname.valid  &&  submitAttempt">
      <p>{{errorname}}</p>
    </ion-item>
   <ion-row><button ion-button color="danger"  round block  class="register">Register</button></ion-row>

  </form>
  </ion-grid>
   <ion-row><button ion-button color="danger"  round block (click)="login()" class="login">Login to your account</button></ion-row>

</ion-content>
