<ion-menu [content]="content"  persistent="true">
  <ion-header style="display:none">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
   <ion-content class="sidemain">   
      <ion-row class="main-sidebar"> 
        <img *ngIf="!profiledata.img" src="http://2.mediaoncloud.com/Shilpa/icon_person_by_ninjavdesign-d8x96sl.png"/>      
          <img *ngIf="profiledata.img" [src]="profiledata.img" (click)="profile()"/>      
          </ion-row>      
           <p *ngIf="profiledata.name">{{profiledata.name}}</p>   
      <ion-list>    
    <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">    
     <img [src]="p.imgs"  item-left style="height:22px;width:22px;"/> {{p.title}}   
       <ion-icon [name]="p.icon" item-right style="color:#fff; font-weight: 900;"></ion-icon>   
      </button>   
  </ion-list>  
  </ion-content>
  </ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>