<ion-header>
</ion-header>

<ion-content style="position:relative;">
<span class="video-row" *ngFor="let imgs of status">
    <img *ngIf="imgs.img" [src]="imgs.img"/>
       <!--<img src="img/video-img2.jpg"/>
          <img src="img/video-img3.jpg"/>
              <img src="img/video-img2.jpg"/>
       <img src="img/video-img3.jpg"/>
          <img src="img/video-img3.jpg"/>
                   <img src="img/video-img3.jpg"/>
       <img src="img/video-img2.jpg"/>
          <img src="img/video-img3.jpg"/>-->
</span>

</ion-content>