
<ion-header>
<ion-navbar  hideBackButton="true">
		 <ion-icon name="arrow-round-back" (click)="back()" style="font-size: 2.0em; color: #fff;margin: 5px;"></ion-icon>
  	</ion-navbar>
</ion-header>
<ion-content padding>
<div *ngIf="commentdata.photos || commentdata.video!='undefined'">
  <div class="main-div"  *ngIf="commentdata.video && (commentdata.video!='undefined')" >
    <ion-row class="video-main" >
    <video  width="100%" height="200" id="video1" poster="img/postr.jpg"   [src]="commentdata.video" codecs="avc1.42E01E, mp4a.40.2"  controlsList="nodownload"></video>
    <img  *ngIf="status=='playimg'"  src="img/play.png"  (click)="play()" />
	<img  *ngIf="status=='pauseimg'" src="img/pause.png" (click)="play()" />
	<img  class="vol-img"   *ngIf="vol=='unmute'" src="img/volume.png"  (click)="volume()" />
    <img  class="vol-img"  *ngIf="vol=='mute'" src="img/mute.png" (click)="volume()" />
    </ion-row>
    <!--<ion-icon class="play-icon" ios="ios-play" md="md-play"></ion-icon>-->
  </div>
  <!--<div class="main-div extra-margin ">
      <img src="img/git.jpg"/>
  </div> -->
  <div class="main-div2"  *ngFor="let img of commentdata.photos" >
   <div *ngIf="commentdata.photos[0]">
     <img [src]="img"/>
  </div> 
  </div>
</div>
<ion-row class="para-row">
<p class="heading1">{{commentdata.user_name}}</p>

<p class="heading2" *ngIf="commentdata.name" >{{commentdata.name}}</p>
<p class="heading3"><span>  <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon>60</span>person are delighted to invite</p>

<p *ngIf="commentdata.description" class="meassage">{{commentdata.description}}</p>
  </ion-row>

  <ion-tabs class="new-tab" style="position:relative;height:100%;margin-top: 5px;">
		<ion-tab [root]="tab2Root " tabIcon="md-chatbubbles" tabBadge="{{evstatus[0].Commentcount}}" [rootParams]="postid"></ion-tab>

		<ion-tab [root]="tab1Root" tabBadge="{{evstatus[0].Likecount}}" tabIcon="md-thumbs-up" [rootParams]="postid" ></ion-tab>

		<ion-tab  tabIcon="share-alt" (ionSelect)="share()"> </ion-tab>
	</ion-tabs>

</ion-content>