page-imagess {
.video-row img{width:33.2%;float:left;    height: 130px;    border: 1px solid #ffffff;
}
 .footer-md::before{
         background-image:none;
 }
 .btn-add{
    position: fixed;
    bottom: 36%;
    right: 6%;
    border-radius: 50%;
 }
 .icon-add{
     color:#fff;
     font-size: 30px;
     font-weight:900;
 }

 .button-md {
  
    height: 4.9rem;}
  
 
}
