<ion-header>
	<ion-navbar hideBackButton="true">
		 <ion-icon name="arrow-round-back" (click)="back()" style="font-size: 2.0em; color: #fff;margin: 5px;"></ion-icon>
  	</ion-navbar>
</ion-header>
<ion-content>
<ion-row class="post-heading">
		<img *ngIf="commentdata.profile_img" [src]="commentdata.profile_img" /><h5>{{commentdata.name}}</h5>
		</ion-row>
		<ion-row class="post-inner">
			<p></p>
			<img *ngIf="commentdata.img!=null &&(commentdata.img!='')" [src]="commentdata.img" />
		<!--<video  *ngIf="commentdata.video" controls="controls" width="100%" height="180"  [src]="commentdata.video"   controlsList="nodownload"></video>-->
  
  <ion-row  *ngIf="commentdata.video" class="video-main" >
    <video  width="100%" height="200" id="video1" poster="img/postr.jpg"   [src]="commentdata.video" codecs="avc1.42E01E, mp4a.40.2"  controlsList="nodownload"></video>
    <img  *ngIf="status=='playimg'"  src="img/play.png"  (click)="play()" />
		<img  *ngIf="status=='pauseimg'" src="img/pause.png" (click)="play()" />
		<img  class="vol-img"   *ngIf="vol=='unmute'" src="img/volume.png"  (click)="volume()" />
    <img  class="vol-img"  *ngIf="vol=='mute'" src="img/mute.png" (click)="volume()" />
  </ion-row>
      <p *ngIf="commentdata.message!='undefined'">{{commentdata.message}} </p>
</ion-row>
 
  <ion-tabs class="new-tab" style="position:relative;height:100%;margin-top: 5px;">
			<ion-tab [root]="tab2Root " tabIcon="md-chatbubbles" tabBadge="{{afstatus[0].Commentcount}}" [rootParams]="postid"></ion-tab>

		<ion-tab [root]="tab1Root" tabBadge="{{afstatus[0].Likecount}}" tabIcon="md-thumbs-up" [rootParams]="postid"></ion-tab>

		<ion-tab  tabIcon="share-alt" (ionSelect)="share()"> </ion-tab>
	</ion-tabs>

</ion-content>

